<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<h2>Welcome, <%= @user.email %></h2>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>
      <p>
      <div class="profile-links" id="profile-links">
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info btn-sm" %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
