<h2>Log in</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12" id="sign_in_page">
      <div class="col-sm-12" id="sign-in-logo">
        <%= image_tag "sitelogo.png" %>
      </div>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Login", class: "btn btn-default devise-login form-control" %>
          <hr>
          <p>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </p>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/login" %>
  </div>
</div>
