<div class="col-md-4">
  <p class="product-title"><%= product.name %></p>
  <p><%= product.description %></p>
  <div class="show-index-thumbnail">
    <%= image_tag(product.image_url, class: "product-thumbnail") %>
  </div>
  <hr>
  <div class="show-index-price">
    <p> <%= number_to_currency(product.price) %></p>
  </div>
  <div class="show-index-rating">
    <p>Average Rating: <div class="rated" data-score="<%= product.average_rating %>"></div></p>
  </div>
  <hr>
  <div class="show-index-links">
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
