<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

  <% if @products.count > 0 %>
   <% @products.in_groups_of(3) do |r| %>
   <h1>Listing Products</h1>
   <div class="container">
    <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="product-container">
              <%= render product %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <hr>
    <div class="container" id="new-product">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
      <% end %>
      <div class="paginate-products">
        <%= will_paginate @comments %>
      </div>
    </div>
    <% else %>
    <div class="container" id="noproduct-panel">
      <div class="row">
        <div class="col-md-12">
          <div class="noproduct-panel">
            <div class="col-sm-12 title">
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-sm-12 body">
              <h3>Your store is empty!</h3>
              <% if user_signed_in? && current_user.admin? %>
                <h4>Would you like to add an item to your store? Click <%= link_to 'here', new_product_path %> to do that!</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
