<div class="container" id="show-page">
  <div class="row">
    <div class="col-md-4" id="show-page-column1">
      <p class="product-title"><%= @product.name %></p><br>
      <%= image_tag(@product.image_url, class: "product-thumbnail") %>
    </div>
    <div class="col-md-4" id="show-page-description">
      <p><%= @product.description %></p><br>
    </div>
    <div class="col-md-4" id="show-page-price">
      <p class="show-page-price">$ <%= @product.price %></p><br>
      <hr>
      <div id="show-button">
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %>
        <%= link_to 'Back', products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<hr>
