<div class="container" id="show-page">
  <div class="row">
    <div class="col-md-4" id="show-page-column1">
      <p class="product-title"><%= @product.name %></p><br>
      <%= image_tag(@product.picture.url, style: "width: 250px", class: "img-zoom", data_zoom_image: @product.picture.url) %>
    </div>
    <div class="col-md-4" id="show-page-description">
      <p><%= @product.description %></p><br>
    </div>
    <div class="col-md-4" id="show-page-price">
      <p class="show-page-price"><%= number_to_currency(@product.price) %></p><br>
      <hr>
      <div id="show-button">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %>
          <%= link_to 'Back', products_path, class: "btn btn-primary" %>
          <hr>
          <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag(:product_id, @product.id) %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        <% else %>
          <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag(:product_id, @product.id) %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
          <hr>
          <%= link_to 'Back', products_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4"><%= render 'comments/new_comment' %></div>
    <div class="col-md-4">
      <div class="show-index-rating">
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
      </div>
    </div>
    <div class="col-md-4"><%= render 'comments/comment_reviews' %></div>
  </div>
</div>
