<!DOCTYPE html>
<html>
<head>
  <title>Clementine web store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
    <%= render 'layouts/navigation' %>
    <div class="container-fluid" id="body-area">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
<!-- JS Scripts -->
    <script type="text/javascript">
  var $root = $('html, body');
    $('.navbar-nav a').click(function() {
        var href = $.attr(this, 'href');
        $root.animate({
            scrollTop: $(href).offset().top
        }, 500, function () {
            window.location.hash = href;
        });
        return false;
    });
</script>


</body>
</html>
